
<%= form_with model: @classroom, class: "classroom" do |f| %>
<div class="field">
  <%= f.label :subject %>
  <%= f.text_field :subject %>
</div>
<div class="field">
  <%= f.label "Teacher: " %>
  <%= f.select :teacher_id, options_from_collection_for_select(User.where("schoolrole = 'Teacher'"), 'id', 'full_name') %>
</div>
<div class="field">
  <%= f.label "Students: " %>
  <% students = [] %>
  <% User.where("schoolrole = 'Student'").each do |s| %>
    <% students.push([s.full_name, s.id]) %>
  <% end %>
  <%= f.select(:user_ids, students, {}, { multiple: true, size: 25 } ) %>
</div>
<div class="field">
  <div class=""></div>
  <%= f.submit %>
</div>
<% end %>
