<!DOCTYPE html>
<html>
  <head>
    <title>VirtualClass</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>





  </head>

  <body>
    <nav>
      <%=link_to 'Home', root_path %>
      <%=link_to 'About', root_path %>
      <% if !user_signed_in? %>
  	  	<%= link_to 'Sign in',  new_user_session_path %>
  	  	<%= link_to 'Sign Up', new_user_registration_path %>
  	  <% end %>
    	<% if user_signed_in? %>
  	  	<%= link_to 'Log out', destroy_user_session_path, method: :delete, data: {confirm: 'are you sure??'} %>
    	<% end %>
      <%=link_to 'Contact', root_path %>
    </nav>





    <p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
    <%= yield %>


    <div id="map" style="width: 800px; height: 400px;">
        </div>

        <%= javascript_include_tag  "http://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyBFLiCCKngEclAha54Fte2CTYdhlWOwohQ&libraries=places" %>

   <script type="text/javascript">

   var map;
   var infoWindow;

   var request;
   var service;
   var markers =[];



   function initialize(){
   	var center = new google.maps.LatLng(40.0024137, -75.2581174);
   	map = new google.maps.Map(document.getElementById('map'), {
   center: center,
   zoom: 11
   	});

   request = {
   	location: center,
   	radius: 8047,
   	types:['library']
   	// types: ['cafe']
   };

   infoWindow = new google.maps.InfoWindow();

    service = new google.maps.places.PlacesService(map);
   service.nearbySearch(request, callback);

   google.maps.event.addListener(map,'rightclick', function(event){
   map.setCenter(event.latLng)
   clearResults(markers)
   var request = {
   	location: event.latLng,
   	radius: 8047,
   	types: ['library']
   	// types: ['cafe']
   };
   service.nearbySearch (request, callback);
   })

   }

   function callback(results, status){
   	if(status == google.maps.places.PlacesServiceStatus.OK){
   		for (var i = 0; i<results.length; i++){
   			markers.push(createMarker(results[i]));
   		}
   	}
   }

   function createMarker(place){
   	var placeLoc = place.geometry.location;
   	var marker = new google.maps.Marker({
   		map: map,
   		position: place.geometry.location
   	});

   	google.maps.event.addListener(marker, 'click', function(){
   		infoWindow.setContent(place.name);
   		infoWindow.open(map, this);
   	});
   	return marker;
   }

   function clearResults(markers){
   	for (var m in markers){
   		markers[m].setMap(null)

   	}
   	markers = []
   }

   google.maps.event.addDomListener(window, 'load', initialize);

</script>
  </body>
</html>
